  #navbar {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  #navbar th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4c97af;
    color: white;
  }

