#navbar {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#navbar th {
  padding-top: 18px;
  padding-bottom: 18px;
  text-align: center;
  background-color: #bdddaa;
  color: white;
}
