<h2>Something went wrong ...</h2>

<h3>Please click a link to try again</h3>


<a href="/users/signup"><input type="submit"  value="Sign Up"></a>

<a href="/users/login"><input type="submit"  value="Log In"></a>
