
<table id="navbar">
  <tr>
    <th><a href="/users/dashboard/<%= @user.id %>">Dashboard</a>
    <th><a a href="/users/logout">Log Out</a></th>
  </tr>
  </table>
  
<h2>Something went wrong ...</h2>

<h3>Please click a link to try again</h3>


<a href="/users/signup"><input type="submit"  value="Sign Up"></a>

<a href="/users/login"><input type="submit"  value="Log In"></a>
