<!DOCTYPE html>
<html>
<head>
<style>

#navbar {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#navbar th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #469ad6;
  color: white;
}


</style>
</head>
<body>

  <table id="navbar">
    <tr>
      <th></th>
      <th></th>
    </tr>
  </table>

<br>

<h2>Something went wrong ...</h2>

<h3>Please click a link to try again</h3>


<a href="/users/signup"><input type="submit"  value="Sign Up"></a>

<a href="/users/login"><input type="submit"  value="Log In"></a>
