
<table id="navbar">
  <tr>
    <th><a href="/users/dashboard/<%= @user.id %>">Dashboard</a>
    <th><a a href="/users/logout">Log Out</a></th>
  </tr>
  </table>
  
    </html><h1>Thanks for visiting! Please come back soon!</h1>
    <br>
    <br>
    <br>
    <a href="/users/login">Click here to log in again.</a>
