

</style>

  <h3>hello busy people ... :)</h3>



  <h1>Welcome to your project Supply Tracker!</h1>


<br>
<br>
  <h2>Please log in</h2>

  <form action="/users/login" method="post">

    <input type="text" placeholder="your email" name="email" required>
    <input type="password" name="password" placeholder="password" required>
    <button class="button" style="vertical-align:middle"><span>Log In </span></button>
    <br>
    <br>
    <br>

    <a href="users/signup">Don't have an account? You can create a free one here.</a>

  </form>
