<h2>Please log in</h2>

<form action="users/login" method="post">

  <input type="text" name="email" placeholder="your email">
  <input type="password" name="password" placeholder="password">

</form>
