

</style>
</head>
<body>

  <table id="navbar">
    <tr>
      <th></th>
      <th></th>
    </tr>
  </table>

<br>

<h4>So many events, so many supplies, so little time...</h4>
<br>

<br>
<h2>We're here to help! Please sign up to use our free service.</h2>
<br>

<form class="" action="/users/signup" method="post">
  <label for="name">Name: </label>
  <input type="text" name="name" id="name" placeholder="your name" required>

  <label for="email">Username: </label>
  <input type="email" name="email" id="email" placeholder="your email" required>

  <label for="password">Password: </label>
  <input type="password" name="password" id="password" placeholder="create a password" required>


  <input type="submit" id="sign me up" value="Sign Me Up!">

</form>
