<div class="container">
  <header><img src="organized.jpg"</header>

    <h3>hello busy people ... :)</h3>


  <h1>Welcome to your project Supply Tracker!</h1>

  <h3>Please log in.</h3>
  <a href="/users/login"><input type="submit" value="Login"></a>


  <h3>or, start a free accout</h3>
  <a href="/users/signup"><input type="submit" value="Sign Up"></a>


</div>
