<div class="container">
  <header><img src="organized.jpg"</header>

    <h3>hello busy people ... :)</h3>


  <h1>Welcome to your project Supply Tracker!</h1>

  <% flash.keys.each do |type| %>
  <div data-alert class="flash <%= type %> alert-box radius">
    <%= flash[type] %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>

  <a href="/users/signup"><input type="submit" value="Sign Up"></a>


</div>
