<!DOCTYPE html>
<html>
<head>
<style>
#supplies, #projects {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#supplies td, #projects th {
  border: 1px solid #ddd;
  padding: 10px;
}

#supplies, #projects tr:nth-child(even){background-color: #f2f2f2;}

#supplies tr:hover {background-color: #ddd;}

#supplies th {
  padding-top: 24px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}

#projects th {
  padding-top: 24px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4c97af;
  color: white;
}

#projects td {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  background-color: #def0f2;
  color: black;
}

#navbar {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#navbar th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #bdddaa;
  color: white;
}


</style>
</head>

<table id="navbar">
  <tr>
    <th><a href="/users/dashboard/<%= @user.id %>">Dashboard</a>
    <th><a a href="/users/logout">Log Out</a></th>
  </tr>
  </table>

<br>
<br>

<h1>Create a new project</h1>
<form action="/projects" method="post">

  <h3><label for="name">Name:</label></h3>
  <input type="string" name="name" id="name" placeholder="project name" required>
  <br>

  <h3><label for="project_type">Type:</label></h3>
  <input type="text" name="project_type" id="project_type" placeholder="class, party, vacation, etc.">
  <br>

  <h3><label for="attendees">Attendees: </label></h3>
  <input type="number" name="attendees" id="attendees" placeholder="estimated">
  <br>

  <h3><label for="supplies_budget">Supplies Budget: </label></h3>
  <input type="number" min="0.00" max="100000.00" step="10.00" name="supplies_budget"placeholder="estimated">
  <br>

  <h3><label for="date">Date: </label></h3>
  <input type="date" name="date" id="date" placeholder="date">
  <br>
  <br>
  <br>
  <input type="submit" value="Create Project">

</form>

</body>
