Create a new project
<form action="/projects" method="post">

  <label for="name">Name:  </label>
  <input type="text" name="name" placeholder="project name" required>
  <br>

  <label for="project_type">Type: </label>
  <input type="text" name="project_type" placeholder="class, party, etc.">
  <br>


  <label for="attendees">Attendees: </label>
  <input type="number" name="attendees" placeholder="number of attendees">
  <br>

  <label for="supplies_budget">Supplies Budget: </label>
  <input type="string" min="0" name="supplies_budget">
  <br>

  <label for="date">Date: </label>
  <input type="date" name="date" placeholder="date">
  <br>

  <input type="submit" placeholder="create_project">
  <br>
  <br>
  

</form>
