Create a new project
<form action="" method="post">

  <label for="name">Name: </label>
  <input type="text" name="name" placeholder="project name">

  <label for="type">Type: </label>
  <input type="type" name="type" placeholder="class, party, etc.">

  <label for="date">Date: </label>
  <input type="date" name="date" placeholder="MM/DD/YY">

  <label for="attendees">Attendees: </label>
  <input type="integer" name="attedees" placeholder="how many attendees will need supplies?">

  <label for="supplies_budget">Supplies_Budget: </label>
  <input type="integer" name="supplies_budget" placeholder="what's the max you will spend on supplies for this project?">

  <input type="submit" placeholder="create_project">

</form>
