<h1>Create a new project</h1>
<form action="/projects" method="post">

  <h3><label for="name">Name:</label></h3>
  <input type="string" name="name" id="name" placeholder="project name" required>
  <br>

  <h3><label for="project_type">Type:</label></h3>
  <input type="text" name="project_type" id="project_type" placeholder="class, party, vacation, etc.">
  <br>

  <h3><label for="attendees">Attendees: </label></h3>
  <input type="number" name="attendees" id="attendees" placeholder="estimated">
  <br>

  <h3><label for="supplies_budget">Supplies Budget: </label></h3>
  <input type="number" min="0.00" max="100000.00" step="10.00" name="supplies_budget"placeholder="estimated">
  <br>

  <h3><label for="date">Date: </label></h3>
  <input type="date" name="date" id="date" placeholder="date">
  <br>
  <br>
  <br>
  <input type="submit" value="Create Project">



</form>
