
<table id="navbar">
  <tr>
    <th><a href="/users/dashboard/<%= @user.id %>">Dashboard</a>
    <th><a a href="/users/logout">Log Out</a></th>
  </tr>
  </table>



<h1>Create a new supply</h1>
<form action="/supplies" method="post">

    <h3><label for="name">Name:</label></h3>
    <input type="string" name="name" id="name" placeholder="supply name" required>

    <h3><label for="vendor">Vendor:</label></h3>
    <input type="string" name="vendor" id="vendor" placeholder="vendor name">
    <br>

    <h3><label for="website">Website:</label></h3>
    <input type="string" name="website" id="website" placeholder="http// ...">
    <br>

    <h3><label for="unit type">Unit type:</label></h3>
    <input type="string" name="unit_type" id="unit type" placeholder="1 gallon, box of 12, etc">
    <br>

    <h3><label for="price per unit">Price per unit:</label></h3>
    <input type="number" min="0.00" max="10000.00" step="1.00" name="price_per_unit" id="price per unit">
    <br>

    <br>
    <br>

    <input type="submit" value="Create this Supply">

</form>

</body>
